:root {
    --1st-color- : #69573b;
    --2nd-color- : #3e482a;
    --3rd-color- : #79804d;
    --4th-color- : #2d2920;
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}
span{
    color: var(--main-color);
    transition: 0.5s;
}

span:hover{
    color: var(--text-color);
    transition: 1s;
}

.about-content h1{
    font-size: 5rem;
    bottom: 2rem;
    color: var(--text-color);
}

.about-content p {
    text-align: baseline;
    padding-bottom: 1rem;
    font-size: 17px;
    line-height: 2;
}

.about-img{
    border-radius: 50%;
}

.about-img img{
    top: 3rem;
    width: 28vw;
    border-radius: 15%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.about-img img:hover{    
    transform: scale(1)translateY(-3px);
}
  
  .tech-list li {
    list-style: none;
    font-size: 16px;
    
  }
  
  .tech-list li:before {
    content: " ▶ ";
    color: var(--secondary-color);
    letter-spacing: 2px;
  }